:root{
    --primary-color: hsl(172, 67%, 45%);
    --light-primary-color: hsl(173, 61%, 77%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan:  hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --error-red: hsl(4, 83%, 57%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', 'sans-serif';
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.splitter-logo{
    padding: 2.5rem;
}

.container2{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results{
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
}

.h2, .error-text{
    font-size: 0.95rem;
    color: var(--dark-grayish-cyan);
    letter-spacing: 0.02rem;
    margin-bottom: 0.8rem;
    line-height: 0.9;
}

input{
    background-color: var(--very-light-grayish-cyan);
    width: 100%;
    border-radius: 0.3rem;
    padding-right: 1rem;
    text-align: right;
    color: var(--very-dark-cyan);
    border: 2px solid transparent !important;
}

.input-bill{
    background-image: url("images/icon-dollar.svg");
}

input, .tip-percentage, .reset-btn{
    font-family: 'Space Mono', 'sans-serif';
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    height: 2.87rem;
}

section{
    margin-bottom: 2rem;
    margin-top: 1rem
}

.percentage-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem 0;
}

.tip-percentage{
    border-radius: 0.3rem;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 0.3rem 0;
}

.people-number{
    background-image: url("images/icon-person.svg");
}
    
.people-number, .input-bill{
    background-repeat: no-repeat;
    background-position: 1rem 0.8rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-apparance: textfield;
}

.results{
    padding: 2.8rem 1.5rem 1.5rem 1.5rem;
}

.results-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1.3fr 1.3fr 1fr;
}

h3{
    color: var(--white);
    font-size: 1rem;
}

h4{
    color: var(--dark-grayish-cyan);
    font-size: 0.9rem;
}

.reset-btn{
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--primary-color);
    color: var(--very-dark-cyan);
    font-size: 1.15rem;
    border-radius: 0.3rem;
}

input.active, input:focus{
    border: 0.15rem solid var(--primary-color) !important;
    outline: none;
    box-sizing: border-box;
}

input:hover{
    cursor: pointer;
}

button.active{
    background-color: var(--primary-color);
    color: var(--very-dark-cyan);
}

button:active{
    background-color: var(--light-primary-color);
}

.error-text{
    color: var(--error-red);
}

.top-text{
    display: flex;
    justify-content: space-between;
}

.hide{
    display: none;
}

.number-result{
    color: var(--primary-color);
    text-align: right;
    font-size: 2.2rem;
}

.error{
    border: 0.15rem solid var(--error-red) !important;
}

.input.error:focus {
    border: 0.15rem solid var(--error-red) !important;
    outline: none; 
}

button:disabled{
    cursor: not-allowed;  /* Change cursor to indicate it's not clickable */
    opacity: 0.5;
}

@media screen and (min-width: 48rem){

    html{
        font-size: 90%
    }

    body{
        justify-content: center;
    }

    .container1{
        height: 80%;
    }

    .container2{
        max-width: 57rem;
        width: 90%;
    }

    .full-wrapper{
        display: grid;
        grid-template-columns: 5fr 4fr;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }
    .percentage-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .results-wrapper{
        height: 100%;
        grid-template-rows: 1fr 1fr 2.5fr;
    }

    .results{
        height: 100%;
    }
    .reset-btn{
        align-self: end
    }

    .number-result{
        font-size: 2.35rem;
    }
}